
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
.App {
  text-align: center;
  min-height: 100vh;
  background-color:#add8e6;
}

.font{
  color:fuchsia;
  font-family: 'Pangolin', cursive;
  font-weight: bold;
  font-size: 30px;
  padding: 25px;
 
 
}


.sunny{
  padding-right: 32px;
}

.link {
  font-family: 'Pangolin', cursive;
}

.welcome-font{
  
  font-family: 'Pangolin', cursive;
}


