
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
.App {
  text-align: center;
  min-height: 100vh;
  background-color:#add8e6;
}

.font{
  color:fuchsia;
  font-family: 'Pangolin', cursive;
  font-weight: bold;
  font-size: 30px;
  padding: 25px;
  padding-right: 52px;
  animation-duration: 3s;
  animation-name: bounce;
}

/* @keyframes bounce {
  from {
    margin-top: 100%;
    width: 300%; 
  }
  to {
    width: 100%;
  }
} */

.sunny{
  padding-right: 32px;
}

.App-link {
  color: black;
  padding-right: 32px;
}

.welcome-font{
  padding-right: 32px;
  font-family: 'Pangolin', cursive;
}

.button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  margin-top: 50px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  
}
